{{ template "header.html" }}
<script>
    var onloadCallback = function() {
        grecaptcha.render("captcha_area", {
            "sitekey" : "{{ .CaptchaKey }}",
            "callback" : function(response) {
                document.getElementById("captcha_response").value = response
                document.getElementById("code_form").submit();
            }
        });
    };
</script>


<form id="code_form" action="/post/register" method="post">
    <!-- Dropdown to select Category-->
    <select name="category">
        <option value="LinkedList">LinkedList</option>
        <option value="boj3986">boj3986</option>
        <option value="boj10845">boj10845</option>
        <option value="Fibonacci_Time_Complexity">Fibonacci_Time_Complexity</option>
    </select>
    <input type="hidden" name="captcha" id="captcha_response">
    <textarea name="code" class="post" id="input"></textarea>
    <p>Preview</p>
    <pre><code id="output"></code></pre>
    <div id="captcha_area"></div>
</form>

<script>
    var input = document.getElementById("input");
    var output = document.getElementById("output");

    input.addEventListener("input", function (e) {
        output.innerHTML = escapeHtml(input.value);
        highlight();
    }, false);

    function highlight() {
        hljs.highlightBlock(output);
    }

    // code from https://stackoverflow.com/a/6234804/1930006
    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;");
    }
</script>
{{ template "footer.html" }}
